In [35]:
import pandas as pd

In [36]:
import numpy as np

In [37]:
pd.Series(np.random.randn(5))

0   -0.634248
1    0.278198
2    0.627550
3   -0.788316
4    0.408398
dtype: float64

In [38]:
pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

a   -0.755434
b   -0.569985
c   -1.058468
d   -0.525441
e    0.447988
dtype: float64

In [39]:
d={'A':10,'B':20,'C':30}
pd.Series(d)

A    10
B    20
C    30
dtype: int64

In [40]:
d={'c1':pd.Series(['A','B','C']),
  'c2':pd.Series([1,2.,3.,4.])}
df = pd.DataFrame(d)
df

    c1   c2
0    A  1.0
1    B  2.0
2    C  3.0
3  NaN  4.0

In [41]:
d={'c1':['A','B','C','D'], 
  'c2':[1,2.0,3.0,4.0]}
df=pd.DataFrame(d)
df

  c1   c2
0  A  1.0
1  B  2.0
2  C  3.0
3  D  4.0

In [42]:
d = {'Item1':pd.DataFrame(np.random.randn(4,3)),
    'Item2':pd.DataFrame(np.random.randn(4,2))}
pn = pd.Panel(d)
pn

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

In [43]:
d = pd.read_csv('C:\data\Student_Weight_Status_Category_Reporting_Results__Beginning_2010.csv')
d.head()

,Location Code,County,Area Name,Region,School Years,Number Overweight,Percent Overweight,Number Obese,Percent Obese,Number Overweight or Obese,Percent Overweight or Obese,Grade Level,Area Type,Street Address,City,State,Zip Code,Location 1
0,61,TOMPKINS,TOMPKINS,CENTRAL NEW YORK,2016-2018,192.0,16.0,222.0,18.5,414.0,34.6,MIDDLE/HIGH,COUNTY,NaN,NaN,NaN,NaN,NaN
1,18,GENESEE,GENESEE,WESTERN NEW YORK,2012-2014,496.0,17.7,495.0,17.7,991.0,35.4,DISTRICT TOTAL,COUNTY,NaN,NaN,NaN,NaN,NaN
2,17,FULTON,FULTON,NORTHEASTERN NEW YORK,2012-2014,165.0,14.6,199.0,17.6,364.0,32.1,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
3,50,ROCKLAND,ROCKLAND,HUDSON VALLEY,2016-2018,2085.0,17.3,1992.0,16.5,4077.0,33.9,DISTRICT TOTAL,COUNTY,NaN,NaN,NaN,NaN,NaN
4,52,SARATOGA,SARATOGA,NORTHEASTERN NEW YORK,2010-2012,609.0,16.6,605.0,16.5,1214.0,33.1,MIDDLE/HIGH,COUNTY,NaN,NaN,NaN,NaN,NaN

In [44]:
d[0:5]['Area Name']

0    TOMPKINS
1     GENESEE
2      FULTON
3    ROCKLAND
4    SARATOGA
Name: Area Name, dtype: object

In [45]:
d['Area Name'].unique()

array(['TOMPKINS', 'GENESEE', 'FULTON', 'ROCKLAND', 'SARATOGA', 'NASSAU',
       'WELLS CENTRAL SCHOOL DISTRICT', 'WESTCHESTER', 'YATES',
       'FINGER LAKES', 'BELFAST CENTRAL SCHOOL DISTRICT', 'CHAUTAUQUA',
       'WAYNE', 'OSWEGO', 'SCHOHARIE', 'WASHINGTON', 'ORLEANS',
       'HERKIMER', 'CENTRAL NEW YORK', 'NIAGARA', 'MONROE', 'PUTNAM',
       'CHENANGO', 'SCHUYLER', 'WARREN', 'CAYUGA', 'ERIE',
       'WESTERN NEW YORK', 'CHEMUNG', 'ST. LAWRENCE', 'TIOGA', 'WYOMING',
       'SULLIVAN', 'BROOME', 'NORTHEASTERN NEW YORK', 'LIVINGSTON',
       'ORANGE', 'ONTARIO', 'SENECA', 'CORTLAND', 'STEUBEN', 'ALBANY',
       'DELAWARE', 'ESSEX', 'ONONDAGA', 'FRANKLIN',
       'MILFORD CENTRAL SCHOOL DISTRICT', 'HAMILTON', 'ONEIDA',
       'MENANDS UNION FREE SCHOOL DISTRICT', 'MADISON', 'DUTCHESS',
       'LEWIS', 'RENSSELAER', 'GREENE',
       'DELAWARE ACADEMY CENTRAL SCHOOL DISTRICT AT DELHI',
       'VALHALLA UNION FREE SCHOOL DISTRICT',
       'CANDOR CENTRAL SCHOOL DISTRICT', 'GOSHEN CENTRAL SCHOOL DISTRICT',
       'CHERRY VALLEY-SPRINGFIELD CENTRAL SCHOOL DISTRICT',
       'CONNETQUOT CENTRAL SCHOOL DISTRICT',
       'PULASKI CENTRAL SCHOOL DISTRICT',
       'MARGARETVILLE CENTRAL SCHOOL DISTRICT',
       'HADLEY-LUZERNE CENTRAL SCHOOL DISTRICT',
       'NORTH ROSE-WOLCOTT CENTRAL SCHOOL DISTRICT',
       'DERUYTER CENTRAL SCHOOL DISTRICT',
       'NEWFANE CENTRAL SCHOOL DISTRICT',
       'GREENWICH CENTRAL SCHOOL DISTRICT',
       'HAMPTON BAYS UNION FREE SCHOOL DISTRICT',
       'RIVERHEAD CENTRAL SCHOOL DISTRICT',
       'CROWN POINT CENTRAL SCHOOL DISTRICT', 'ULSTER', 'OTSEGO',
       'COLUMBIA', 'NEW YORK - PENN', 'ALLEGANY', 'SUFFOLK', 'JEFFERSON',
       'HUDSON VALLEY', 'SAGAPONACK COMMON SCHOOL DISTRICT',
       'QUOGUE UNION FREE SCHOOL DISTRICT',
       'TUXEDO UNION FREE SCHOOL DISTRICT',
       'WEST CANADA VALLEY CENTRAL SCHOOL DISTRICT', 'SCHENECTADY',
       'INLET COMMON SCHOOL DISTRICT', 'MONTGOMERY',
       'NORTH SHORE CENTRAL SCHOOL DISTRICT',
       'FRANKLIN CENTRAL SCHOOL DISTRICT',
       'UNION FREE SCHOOL DISTRICT OF THE TARRYTOWNS',
       'ROCKVILLE CENTRE UNION FREE SCHOOL DISTRICT',
       'AMITYVILLE UNION FREE SCHOOL DISTRICT',
       'HOLLAND CENTRAL SCHOOL DISTRICT',
       'FONDA-FULTONVILLE CENTRAL SCHOOL DISTRICT',
       'GUILDERLAND CENTRAL SCHOOL DISTRICT',
       'RANDOLPH CENTRAL SCHOOL DISTRICT',
       'OXFORD ACADEMY AND CENTRAL SCHOOL DISTRICT',
       'MAYFIELD CENTRAL SCHOOL DISTRICT',
       'GREENBURGH CENTRAL SCHOOL DISTRICT',
       'KIRYAS JOEL VILLAGE UNION FREE SCHOOL DISTRICT',
       'ALLEGANY-LIMESTONE CENTRAL SCHOOL DISTRICT',
       'FORESTVILLE CENTRAL SCHOOL DISTRICT',
       'FLORIDA UNION FREE SCHOOL DISTRICT',
       'GILBERTSVILLE-MOUNT UPTON CENTRAL SCHOOL DISTRICT',
       'WATERVLIET CITY SCHOOL DISTRICT',
       'NEWCOMB CENTRAL SCHOOL DISTRICT',
       'ISLIP UNION FREE SCHOOL DISTRICT',
       'GRAND ISLAND CENTRAL SCHOOL DISTRICT',
       'HAVERSTRAW-STONY POINT CSD (NORTH ROCKLAND)',
       'FAIRPORT CENTRAL SCHOOL DISTRICT',
       'MALVERNE UNION FREE SCHOOL DISTRICT',
       'PINE VALLEY CENTRAL SCHOOL DISTRICT (SOUTH DAYTON)',
       'PLEASANTVILLE UNION FREE SCHOOL DISTRICT',
       'PORT BYRON CENTRAL SCHOOL DISTRICT',
       'VALLEY STREAM 13 UNION FREE SCHOOL DISTRICT',
       'WILLIAMSVILLE CENTRAL SCHOOL DISTRICT',
       'GARRISON UNION FREE SCHOOL DISTRICT',
       'SYOSSET CENTRAL SCHOOL DISTRICT',
       'EAST WILLISTON UNION FREE SCHOOL DISTRICT',
       'WHEATLAND-CHILI CENTRAL SCHOOL DISTRICT',
       'SHERBURNE EARLVILLE CENTRAL SCHOOL DISTRICT',
       'MINISINK VALLEY CENTRAL SCHOOL DISTRICT',
       'ELLICOTTVILLE CENTRAL SCHOOL DISTRICT',
       'RIPLEY CENTRAL SCHOOL DISTRICT', 'MCGRAW CENTRAL SCHOOL DISTRICT',
       'JASPER-TROUPSBURG CENTRAL SCHOOL DISTRICT',
       'PORT JERVIS CITY SCHOOL DISTRICT',
       'BROCKPORT CENTRAL SCHOOL DISTRICT',
       'PORTVILLE CENTRAL SCHOOL DISTRICT',
       'SHOREHAM-WADING RIVER CENTRAL SCHOOL DISTRICT',
       'PINE BUSH CENTRAL SCHOOL DISTRICT',
       'EDINBURG COMMON SCHOOL DISTRICT',
       'HUDSON FALLS CENTRAL SCHOOL DISTRICT',
       'EAST ROCHESTER UNION FREE SCHOOL DISTRICT',
       'BALDWINSVILLE CENTRAL SCHOOL DISTRICT',
       'GALWAY CENTRAL SCHOOL DISTRICT', 'MEDINA CENTRAL SCHOOL DISTRICT',
       'BROOKHAVEN-COMSEWOGUE UNION FREE SCHOOL DISTRICT',
       'EVANS-BRANT CENTRAL SCHOOL DISTRICT (LAKE SHORE)',
       'NORTH BELLMORE UNION FREE SCHOOL DISTRICT',
       'CANTON CENTRAL SCHOOL DISTRICT',
       'VOORHEESVILLE CENTRAL SCHOOL DISTRICT',
       'BRUNSWICK CENTRAL SCHOOL DISTRICT (BRITTONKILL)',
       'WEEDSPORT CENTRAL SCHOOL DISTRICT',
       'COMMACK UNION FREE SCHOOL DISTRICT',
       'CROTON-HARMON UNION FREE SCHOOL DISTRICT',
       'SOLVAY UNION FREE SCHOOL DISTRICT',
       'KENMORE-TONAWANDA UNION FREE SCHOOL DISTRICT',
       'CATTARAUGUS-LITTLE VALLEY CENTRAL SCHOOL DISTRICT',
       'ADIRONDACK CENTRAL SCHOOL DISTRICT',
       'SOUTH SENECA CENTRAL SCHOOL DISTRICT',
       'BURNT HILLS-BALLSTON LAKE CENTRAL SCHOOL DISTRICT',
       'WILLSBORO CENTRAL SCHOOL DISTRICT',
       'GREENE CENTRAL SCHOOL DISTRICT',
       'HARPURSVILLE CENTRAL SCHOOL DISTRICT',
       'CHENANGO FORKS CENTRAL SCHOOL DISTRICT',
       'HYDE PARK CENTRAL SCHOOL DISTRICT',
       'NORTHEAST CENTRAL SCHOOL DISTRICT',
       'KINGSTON CITY SCHOOL DISTRICT',
       'ALEXANDER CENTRAL SCHOOL DISTRICT',
       'LEVITTOWN UNION FREE SCHOOL DISTRICT',
       'CENTRAL VALLEY CSD AT ILION-MOHAWK',
       'RAQUETTE LAKE UNION FREE SCHOOL DISTRICT',
       'HALDANE CENTRAL SCHOOL DISTRICT',
       'ROSLYN UNION FREE SCHOOL DISTRICT',
       'POUGHKEEPSIE CITY SCHOOL DISTRICT',
       'PINE PLAINS CENTRAL SCHOOL DISTRICT',
       'JOHNSTOWN CITY SCHOOL DISTRICT', 'HOMER CENTRAL SCHOOL DISTRICT',
       'FULTON CITY SCHOOL DISTRICT', 'ANDES CENTRAL SCHOOL DISTRICT',
       'AUBURN CITY SCHOOL DISTRICT', 'LANSING CENTRAL SCHOOL DISTRICT',
       'ROME CITY SCHOOL DISTRICT', 'HUDSON CITY SCHOOL DISTRICT',
       'MARCELLUS CENTRAL SCHOOL DISTRICT',
       'SAUGERTIES CENTRAL SCHOOL DISTRICT',
       'NISKAYUNA CENTRAL SCHOOL DISTRICT',
       'EASTPORT SOUTH MANOR CENTRAL SCHOOL',
       'BERLIN CENTRAL SCHOOL DISTRICT',
       'FALCONER CENTRAL SCHOOL DISTRICT',
       'LISBON CENTRAL SCHOOL DISTRICT',
       'ELIZABETHTOWN-LEWIS CENTRAL SCHOOL DISTRICT',
       'WAYNE CENTRAL SCHOOL DISTRICT', 'LIBERTY CENTRAL SCHOOL DISTRICT',
       'CINCINNATUS CENTRAL SCHOOL DISTRICT',
       'GORHAM-MIDDLESEX CENTRAL SCHOOL DISTRICT (MARCUS WHITMAN)',
       'GARDEN CITY UNION FREE SCHOOL DISTRICT',
       'WASHINGTONVILLE CENTRAL SCHOOL DISTRICT',
       'BYRAM HILLS CENTRAL SCHOOL DISTRICT',
       'WARRENSBURG CENTRAL SCHOOL DISTRICT',
       'SHELTER ISLAND UNION FREE SCHOOL DISTRICT',
       'UNIONDALE UNION FREE SCHOOL DISTRICT',
       'HORSEHEADS CENTRAL SCHOOL DISTRICT',
       'THOUSAND ISLANDS CENTRAL SCHOOL DISTRICT',
       'TACONIC HILLS CENTRAL SCHOOL DISTRICT',
       'WALTON CENTRAL SCHOOL DISTRICT',
       'ROTTERDAM-MOHONASEN CENTRAL SCHOOL DISTRICT',
       'RUSH-HENRIETTA CENTRAL SCHOOL DISTRICT',
       'OCEANSIDE UNION FREE SCHOOL DISTRICT',
       'REMSEN CENTRAL SCHOOL DISTRICT',
       'EAST IRONDEQUOIT CENTRAL SCHOOL DISTRICT',
       'FREWSBURG CENTRAL SCHOOL DISTRICT',
       'ADDISON CENTRAL SCHOOL DISTRICT',
       'WHITESVILLE CENTRAL SCHOOL DISTRICT',
       'SAINT JOHNSVILLE CENTRAL SCHOOL DISTRICT',
       'SHERMAN CENTRAL SCHOOL DISTRICT',
       'LANSINGBURGH CENTRAL SCHOOL DISTRICT',
       'WATKINS GLEN CENTRAL SCHOOL DISTRICT',
       'LYME CENTRAL SCHOOL DISTRICT', 'CATSKILL CENTRAL SCHOOL DISTRICT',
       'RONDOUT VALLEY CENTRAL SCHOOL DISTRICT',
       'ARGYLE CENTRAL SCHOOL DISTRICT',
       'EDGEMONT UNION FREE SCHOOL DISTRICT',
       'WAPPINGERS CENTRAL SCHOOL DISTRICT',
       'WESTPORT CENTRAL SCHOOL DISTRICT',
       'DEPOSIT CENTRAL SCHOOL DISTRICT',
       'FALLSBURG CENTRAL SCHOOL DISTRICT',
       'BERNE-KNOX WESTERLO CENTRAL SCHOOL DISTRICT',
       'VICTOR CENTRAL SCHOOL DISTRICT',
       'NORWOOD-NORFOLK CENTRAL SCHOOL DISTRICT',
       'PERRY CENTRAL SCHOOL DISTRICT',
       'SALMON RIVER CENTRAL SCHOOL DISTRICT',
       'WILLIAMSON CENTRAL SCHOOL DISTRICT',
       'CARTHAGE CENTRAL SCHOOL DISTRICT',
       'CANASTOTA CENTRAL SCHOOL DISTRICT',
       'AMSTERDAM CITY SCHOOL DISTRICT',
       'NEW SUFFOLK COMMON SCHOOL DISTRICT',
       'CENTER MORICHES UNION FREE SCHOOL DISTRICT',
       'HIGHLAND FALLS CENTRAL SCHOOL DISTRICT',
       'MARION CENTRAL SCHOOL DISTRICT',
       'SWEET HOME CENTRAL SCHOOL DISTRICT',
       'SPENCER-VAN ETTEN CENTRAL SCHOOL DISTRICT',
       'ARDSLEY UNION FREE SCHOOL DISTRICT',
       'BEEKMANTOWN CENTRAL SCHOOL DISTRICT',
       'NORWICH CITY SCHOOL DISTRICT', 'LIVONIA CENTRAL SCHOOL DISTRICT',
       'WAYLAND-COHOCTON CENTRAL SCHOOL DISTRICT',
       'CLINTON CENTRAL SCHOOL DISTRICT',
       'WAINSCOTT COMMON SCHOOL DISTRICT',
       'WEST VALLEY CENTRAL SCHOOL DISTRICT',
       'SCARSDALE UNION FREE SCHOOL DISTRICT',
       'SPENCERPORT CENTRAL SCHOOL DISTRICT',
       'BALLSTON SPA CENTRAL SCHOOL DISTRICT',
       'PHOENIX CENTRAL SCHOOL DISTRICT',
       'IROQUOIS CENTRAL SCHOOL DISTRICT',
       'PARISHVILLE-HOPKINTON CENTRAL SCHOOL DISTRICT',
       'ELLENVILLE CENTRAL SCHOOL DISTRICT',
       'GEORGETOWN-SOUTH OTSELIC CENTRAL SCHOOL DISTRICT',
       'CHEEKTOWAGA CENTRAL SCHOOL DISTRICT',
       'SCOTIA-GLENVILLE CENTRAL SCHOOL DISTRICT',
       'ALDEN CENTRAL SCHOOL DISTRICT',
       'EAST AURORA UNION FREE SCHOOL DISTRICT',
       'GLENS FALLS CITY SCHOOL DISTRICT',
       'YORKTOWN CENTRAL SCHOOL DISTRICT',
       'FRIENDSHIP CENTRAL SCHOOL DISTRICT',
       'SOUTH COLONIE CENTRAL SCHOOL DISTRICT',
       'LYONS CENTRAL SCHOOL DISTRICT',
       'CLARENCE CENTRAL SCHOOL DISTRICT',
       'SYRACUSE CITY SCHOOL DISTRICT',
       'PEARL RIVER UNION FREE SCHOOL DISTRICT',
       'DOVER UNION FREE SCHOOL DISTRICT',
       'LA FARGEVILLE CENTRAL SCHOOL DISTRICT',
       'CLIFTON-FINE CENTRAL SCHOOL DISTRICT',
       'FORT PLAIN CENTRAL SCHOOL DISTRICT',
       'NANUET UNION FREE SCHOOL DISTRICT',
       'PRATTSBURGH CENTRAL SCHOOL DISTRICT',
       'DEPEW UNION FREE SCHOOL DISTRICT',
       'SCHUYLERVILLE CENTRAL SCHOOL DISTRICT',
       'AVERILL PARK CENTRAL SCHOOL DISTRICT',
       'OTEGO-UNADILLA CENTRAL SCHOOL DISTRICT',
       'RAVENA-COEYMANS SELKIRK CENTRAL SCHOOL DISTRICT',
       'SCHENECTADY CITY SCHOOL DISTRICT', 'STATEWIDE (EXCLUDING NYC)',
       'HAMMONDSPORT CENTRAL SCHOOL DISTRICT',
       'PATCHOGUE-MEDFORD UNION FREE SCHOOL DISTRICT',
       'NEW ROCHELLE CITY SCHOOL DISTRICT',
       'BINGHAMTON CITY SCHOOL DISTRICT',
       'SENECA FALLS CENTRAL SCHOOL DISTRICT',
       'HENDRICK HUDSON CENTRAL SCHOOL DISTRICT',
       'SCHENEVUS CENTRAL SCHOOL DISTRICT',
       'CHAPPAQUA CENTRAL SCHOOL DISTRICT',
       'MASSENA CENTRAL SCHOOL DISTRICT',
       'IRVINGTON UNION FREE SCHOOL DISTRICT',
       'PENN YAN CENTRAL SCHOOL DISTRICT',
       'GENESEO CENTRAL SCHOOL DISTRICT',
       'EAST SYRACUSE-MINOA CENTRAL SCHOOL DISTRICT',
       'WYANDANCH UNION FREE SCHOOL DISTRICT',
       'SOUTH HUNTINGTON UNION FREE SCHOOL DISTRICT',
       'NEW YORK MILLS UNION FREE SCHOOL DISTRICT',
       'PORT CHESTER-RYE UNION FREE SCHOOL DISTRICT',
       'LAKELAND CENTRAL SCHOOL DISTRICT',
       'BRENTWOOD UNION FREE SCHOOL DISTRICT',
       'HOOSIC VALLEY CENTRAL SCHOOL DISTRICT',
       'VESTAL CENTRAL SCHOOL DISTRICT',
       'PLATTSBURGH CITY SCHOOL DISTRICT',
       'ALTMAR-PARISH-WILLIAMSTOWN CENTRAL SCHOOL DISTRICT',
       'PERU CENTRAL SCHOOL DISTRICT',
       'WHITESBORO CENTRAL SCHOOL DISTRICT',
       'FAYETTEVILLE-MANLIUS CENTRAL SCHOOL DISTRICT',
       'SHENENDEHOWA CENTRAL SCHOOL DISTRICT',
       'QUEENSBURY UNION FREE SCHOOL DISTRICT',
       'HIGHLAND CENTRAL SCHOOL DISTRICT',
       'PUTNAM CENTRAL SCHOOL DISTRICT', 'JAMESTOWN CITY SCHOOL DISTRICT',
       'BALDWIN UNION FREE SCHOOL DISTRICT',
       'ARKPORT CENTRAL SCHOOL DISTRICT',
       'SOUTH KORTRIGHT CENTRAL SCHOOL DISTRICT',
       'ARLINGTON CENTRAL SCHOOL DISTRICT',
       'MORRISVILLE-EATON CENTRAL SCHOOL DISTRICT',
       'SUSQUEHANNA VALLEY CENTRAL SCHOOL DISTRICT',
       'VALLEY CENTRAL SCHOOL DISTRICT (MONTGOMERY)',
       'CORTLAND CITY SCHOOL DISTRICT', 'GLEN COVE CITY SCHOOL DISTRICT',
       'BEAVER RIVER CENTRAL SCHOOL DISTRICT',
       'EAST RAMAPO CENTRAL SCHOOL DISTRICT (SPRING VALLEY)',
       'WATERVILLE CENTRAL SCHOOL DISTRICT',
       'OYSTERPONDS UNION FREE SCHOOL DISTRICT',
       'NEWBURGH CITY SCHOOL DISTRICT',
       'CLARKSTOWN CENTRAL SCHOOL DISTRICT',
       'WESTFIELD CENTRAL SCHOOL DISTRICT',
       'COXSACKIE-ATHENS CENTRAL SCHOOL DISTRICT',
       'ATTICA CENTRAL SCHOOL DISTRICT', 'BOLTON CENTRAL SCHOOL DISTRICT',
       'SCHODACK CENTRAL SCHOOL DISTRICT',
       'JEFFERSON CENTRAL SCHOOL DISTRICT',
       'ROCKY POINT UNION FREE SCHOOL DISTRICT',
       'CANISTEO-GREENWOOD CENTRAL SCHOOL DISTRICT',
       'CANAJOHARIE CENTRAL SCHOOL DISTRICT',
       'TRUMANSBURG CENTRAL SCHOOL DISTRICT',
       'LEWISTON-PORTER CENTRAL SCHOOL DISTRICT',
       'BOLIVAR-RICHBURG CENTRAL SCHOOL DISTRICT',
       'CHEEKTOWAGA-MARYVALE UNION FREE SCHOOL DISTRICT',
       'SAINT REGIS FALLS CENTRAL SCHOOL DISTRICT',
       'ISLAND PARK UNION FREE SCHOOL DISTRICT',
       'GILBOA-CONESVILLE CENTRAL SCHOOL DISTRICT',
       'KINGS PARK CENTRAL SCHOOL DISTRICT',
       'BATAVIA CITY SCHOOL DISTRICT', 'WARSAW CENTRAL SCHOOL DISTRICT',
       'BRONXVILLE UNION FREE SCHOOL DISTRICT',
       'CHAZY UNION FREE SCHOOL DISTRICT',
       'ROXBURY CENTRAL SCHOOL DISTRICT',
       'FORT ANN CENTRAL SCHOOL DISTRICT',
       'MARATHON CENTRAL SCHOOL DISTRICT',
       'NEW PALTZ CENTRAL SCHOOL DISTRICT',
       'SARANAC LAKE CENTRAL SCHOOL DISTRICT',
       'MARLBORO CENTRAL SCHOOL DISTRICT',
       'CLYMER CENTRAL SCHOOL DISTRICT', 'CLINTON',
       'CANANDAIGUA CITY SCHOOL DISTRICT',
       'WILLIAM FLOYD UNION FREE SCHOOL DISTRICT',
       'DEER PARK UNION FREE SCHOOL DISTRICT',
       'TOWN OF WEBB UNION FREE SCHOOL DISTRICT',
       'JOHNSBURG CENTRAL SCHOOL DISTRICT',
       'LIVERPOOL CENTRAL SCHOOL DISTRICT',
       'LAWRENCE UNION FREE SCHOOL DISTRICT',
       'HAUPPAUGE UNION FREE SCHOOL DISTRICT',
       'COPIAGUE UNION FREE SCHOOL DISTRICT',
       'MANHASSET UNION FREE SCHOOL DISTRICT',
       'PELHAM UNION FREE SCHOOL DISTRICT',
       'TUCKAHOE UNION FREE SCHOOL DISTRICT',
       'SPRINGS UNION FREE SCHOOL DISTRICT',
       'CENTRAL ISLIP UNION FREE SCHOOL DISTRICT',
       'WORCESTER CENTRAL SCHOOL DISTRICT',
       'MERRICK UNION FREE SCHOOL DISTRICT',
       'LAURENS CENTRAL SCHOOL DISTRICT',
       'EAST MEADOW UNION FREE SCHOOL DISTRICT',
       'BABYLON UNION FREE SCHOOL DISTRICT',
       'SIDNEY CENTRAL SCHOOL DISTRICT',
       'DUANESBURG CENTRAL SCHOOL DISTRICT',
       'GENESEE VALLEY CENTRAL SCHOOL DISTRICT',
       'PENFIELD CENTRAL SCHOOL DISTRICT',
       'WEST ISLIP UNION FREE SCHOOL DISTRICT',
       'PORT JEFFERSON UNION FREE SCHOOL DISTRICT',
       'FLORAL PARK-BELLEROSE UNION FREE SCHOOL DISTRICT',
       'MINERVA CENTRAL SCHOOL DISTRICT',
       'CHURCHVILLE-CHILI CENTRAL SCHOOL DISTRICT',
       'MORAVIA CENTRAL SCHOOL DISTRICT',
       'NYACK UNION FREE SCHOOL DISTRICT',
       'SOMERS CENTRAL SCHOOL DISTRICT',
       'BRIGHTON CENTRAL SCHOOL DISTRICT',
       'FRONTIER CENTRAL SCHOOL DISTRICT',
       'HERRICKS UNION FREE SCHOOL DISTRICT',
       'WEST IRONDEQUOIT CENTRAL SCHOOL DISTRICT',
       'BUFFALO CITY SCHOOL DISTRICT', 'RED HOOK CENTRAL SCHOOL DISTRICT',
       'GLENS FALLS COMMON SCHOOL DISTRICT',
       'PHELPS-CLIFTON SPRINGS CENTRAL SCHOOL DISTRICT',
       'WEST BABYLON UNION FREE SCHOOL DISTRICT',
       'MATTITUCK-CUTCHOGUE UNION FREE SCHOOL DISTRICT',
       'BATH CENTRAL SCHOOL DISTRICT',
       'FABIUS-POMPEY CENTRAL SCHOOL DISTRICT',
       'OSWEGO CITY SCHOOL DISTRICT', 'ONTEORA CENTRAL SCHOOL DISTRICT',
       'RHINEBECK CENTRAL SCHOOL DISTRICT',
       'CHATEAUGAY CENTRAL SCHOOL DISTRICT',
       'CARMEL CENTRAL SCHOOL DISTRICT',
       'NEW LEBANON CENTRAL SCHOOL DISTRICT',
       'AVON CENTRAL SCHOOL DISTRICT',
       'SARATOGA SPRINGS CITY SCHOOL DISTRICT',
       'YORKSHIRE-PIONEER CENTRAL SCHOOL DISTRICT',
       'PEEKSKILL CITY SCHOOL DISTRICT',
       'BAINBRIDGE-GUILFORD CENTRAL SCHOOL DISTRICT',
       'BELLEVILLE-HENDERSON CENTRAL SCHOOL DISTRICT',
       'HERMON-DEKALB CENTRAL SCHOOL DISTRICT',
       'LOWVILLE ACADEMY & CENTRAL SCHOOL DISTRICT',
       'EAST BLOOMFIELD CENTRAL SCHOOL DISTRICT',
       'DUNKIRK CITY SCHOOL DISTRICT',
       'EAST HAMPTON UNION FREE SCHOOL DISTRICT',
       'SCHOHARIE CENTRAL SCHOOL DISTRICT',
       'DOLGEVILLE CENTRAL SCHOOL DISTRICT',
       'GOUVERNEUR CENTRAL SCHOOL DISTRICT',
       'INDIAN RIVER CENTRAL SCHOOL DISTRICT',
       'GREEN ISLAND UNION FREE SCHOOL DISTRICT',
       'CLEVELAND HILL UNION FREE SCHOOL DISTRICT',
       'NORTHVILLE CENTRAL SCHOOL DISTRICT',
       'VALLEY STREAM CENTRAL HIGH SCHOOL DISTRICT',
       'CAIRO-DURHAM CENTRAL SCHOOL DISTRICT',
       'EAST ISLIP UNION FREE SCHOOL DISTRICT',
       'WHITE PLAINS CITY SCHOOL DISTRICT',
       'MALONE CENTRAL SCHOOL DISTRICT', 'EDEN CENTRAL SCHOOL DISTRICT',
       'GOWANDA CENTRAL SCHOOL DISTRICT',
       'OSSINING UNION FREE SCHOOL DISTRICT',
       'WATERTOWN CITY SCHOOL DISTRICT',
       'NORTH BABYLON UNION FREE SCHOOL DISTRICT',
       'CASSADAGA VALLEY CENTRAL SCHOOL DISTRICT',
       'NORTHERN ADIRONDACK CENTRAL SCHOOL DISTRICT', 'NASSAU-SUFFOLK',
       'HORNELL CITY SCHOOL DISTRICT', 'BARKER CENTRAL SCHOOL DISTRICT',
       'PUTNAM VALLEY CENTRAL SCHOOL DISTRICT',
       'ROCHESTER CITY SCHOOL DISTRICT', 'ELBA CENTRAL SCHOOL DISTRICT',
       'LAKE PLEASANT CENTRAL SCHOOL DISTRICT',
       'BRIARCLIFF MANOR UNION FREE SCHOOL DISTRICT',
       'CENTRAL SQUARE CENTRAL SCHOOL DISTRICT',
       'LIVINGSTON MANOR CENTRAL SCHOOL DISTRICT',
       'LACKAWANNA CITY SCHOOL DISTRICT',
       'SOUTH GLENS FALLS CENTRAL SCHOOL DISTRICT',
       'SOUTHWESTERN CENTRAL SCHOOL DISTRICT AT JAMESTOWN',
       'GERMANTOWN CENTRAL SCHOOL DISTRICT',
       'COOPERSTOWN CENTRAL SCHOOL DISTRICT',
       'LYNCOURT UNION FREE SCHOOL DISTRICT',
       'GANANDA CENTRAL SCHOOL DISTRICT', 'UTICA CITY SCHOOL DISTRICT',
       'CORNING CITY SCHOOL DISTRICT',
       'HALF HOLLOW HILLS CENTRAL SCHOOL DISTRICT',
       'LE ROY CENTRAL SCHOOL DISTRICT',
       'POTSDAM CENTRAL SCHOOL DISTRICT',
       'ELWOOD UNION FREE SCHOOL DISTRICT',
       'OYSTER BAY-EAST NORWICH CENTRAL SCHOOL DISTRICT',
       'RENSSELAER CITY SCHOOL DISTRICT',
       'HARTFORD CENTRAL SCHOOL DISTRICT',
       'SANDY CREEK CENTRAL SCHOOL DISTRICT',
       'SAYVILLE UNION FREE SCHOOL DISTRICT',
       'MIDDLETOWN CITY SCHOOL DISTRICT',
       'LAKE PLACID CENTRAL SCHOOL DISTRICT',
       'WELLSVILLE CENTRAL SCHOOL DISTRICT',
       'UNION-ENDICOTT CENTRAL SCHOOL DISTRICT',
       'ITHACA CITY SCHOOL DISTRICT', 'WAVERLY CENTRAL SCHOOL DISTRICT',
       'VALLEY STREAM 24 UNION FREE SCHOOL DISTRICT',
       'HARRISVILLE CENTRAL SCHOOL DISTRICT',
       'HEWLETT-WOODMERE UNION FREE SCHOOL DISTRICT',
       'SAG HARBOR UNION FREE SCHOOL DISTRICT',
       'SARANAC CENTRAL SCHOOL DISTRICT',
       'NEWARK VALLEY CENTRAL SCHOOL DISTRICT',
       'AFTON CENTRAL SCHOOL DISTRICT',
       'JERICHO UNION FREE SCHOOL DISTRICT',
       'SCHROON LAKE CENTRAL SCHOOL DISTRICT',
       'UNION SPRINGS CENTRAL SCHOOL DISTRICT',
       'MAMARONECK UNION FREE SCHOOL DISTRICT',
       'FREDONIA CENTRAL SCHOOL DISTRICT',
       'HICKSVILLE UNION FREE SCHOOL DISTRICT',
       'BELLMORE-MERRICK CENTRAL HIGH SCHOOL DISTRICT',
       'TROY CITY SCHOOL DISTRICT', 'ALBION CENTRAL SCHOOL DISTRICT',
       'WESTMORELAND CENTRAL SCHOOL DISTRICT',
       'MIDDLEBURGH CENTRAL SCHOOL DISTRICT',

In [46]:
d['Area Name'][0:5].str.extract('(\w+)\s(\w+)')

     0    1
0  NaN  NaN
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN

In [47]:
d['Area Name'][0:5].str.upper()

0    TOMPKINS
1     GENESEE
2      FULTON
3    ROCKLAND
4    SARATOGA
Name: Area Name, dtype: object

In [48]:
d['Area Name'][0:5].str.lower()

0    tompkins
1     genesee
2      fulton
3    rockland
4    saratoga
Name: Area Name, dtype: object

In [49]:
d['Area Name'][0:5].str.len()

0    8
1    7
2    6
3    8
4    8
Name: Area Name, dtype: int64

In [50]:
d['Location Code'].isnull().value_counts()

False    8922
Name: Location Code, dtype: int64

In [59]:
 d[['Area Name', 'County']][0:5]

  Area Name    County
0  TOMPKINS  TOMPKINS
1   GENESEE   GENESEE
2    FULTON    FULTON
3  ROCKLAND  ROCKLAND
4  SARATOGA  SARATOGA

In [60]:
p1 = d[['Area Name', 'County']][0:2]
p2 = d[['Area Name', 'County']][3:5]

In [62]:
pd.concat([p1,p2])

  Area Name    County
0  TOMPKINS  TOMPKINS
1   GENESEE   GENESEE
3  ROCKLAND  ROCKLAND
4  SARATOGA  SARATOGA

In [64]:
concatenated = pd.concat([p1,p2], keys=['p1','p2'])
concatenated

     Area Name    County
p1 0  TOMPKINS  TOMPKINS
   1   GENESEE   GENESEE
p2 3  ROCKLAND  ROCKLAND
   4  SARATOGA  SARATOGA

In [67]:
concatenated.loc['p1']

  Area Name    County
0  TOMPKINS  TOMPKINS
1   GENESEE   GENESEE

In [72]:
data = d[d['Grade Level'] == 'ELEMENTARY']
data

,Location Code,County,Area Name,Region,School Years,Number Overweight,Percent Overweight,Number Obese,Percent Obese,Number Overweight or Obese,Percent Overweight or Obese,Grade Level,Area Type,Street Address,City,State,Zip Code,Location 1
2,17,FULTON,FULTON,NORTHEASTERN NEW YORK,2012-2014,165.0,14.6,199.0,17.6,364.0,32.1,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
8,68,YATES,YATES,FINGER LAKES,2010-2012,73.0,17.1,68.0,15.9,141.0,33.0,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
9,200000,NaN,FINGER LAKES,FINGER LAKES,2012-2014,4731.0,16.2,4556.0,15.6,9287.0,31.8,ELEMENTARY,REGION,NaN,NaN,NaN,NaN,NaN
12,65,WAYNE,WAYNE,FINGER LAKES,2016-2018,473.0,15.5,595.0,19.5,1068.0,35.0,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
15,64,WASHINGTON,WASHINGTON,NORTHEASTERN NEW YORK,2012-2014,240.0,17.4,251.0,18.2,491.0,35.6,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
16,45,ORLEANS,ORLEANS,WESTERN NEW YORK,2010-2012,226.0,16.9,291.0,21.7,517.0,38.6,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
18,100000,NaN,CENTRAL NEW YORK,CENTRAL NEW YORK,2014-2016,6400.0,16.3,6872.0,17.5,13272.0,33.8,ELEMENTARY,REGION,NaN,NaN,NaN,NaN,NaN
24,66,WESTCHESTER,WESTCHESTER,HUDSON VALLEY,2014-2016,3946.0,13.8,3870.0,13.5,7816.0,27.3,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
29,14,ERIE,ERIE,WESTERN NEW YORK,2016-2018,3246.0,15.3,3077.0,14.5,6323.0,29.8,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
32,200000,NaN,FINGER LAKES,FINGER LAKES,2010-2012,5059.0,16.0,5374.0,17.0,10433.0,33.0,ELEMENTARY,REGION,NaN,NaN,NaN,NaN,NaN
35,60,TIOGA,TIOGA,NEW YORK - PENN,2012-2014,252.0,18.5,244.0,17.9,496.0,36.4,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
38,28,NASSAU,NASSAU,NASSAU-SUFFOLK,2012-2014,5379.0,14.7,5898.0,16.2,11277.0,30.9,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
40,3,BROOME,BROOME,NEW YORK - PENN,2016-2018,769.0,15.8,813.0,16.7,1582.0,32.4,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
47,59,SULLIVAN,SULLIVAN,HUDSON VALLEY,2014-2016,342.0,16.6,385.0,18.7,727.0,35.4,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
49,44,ORANGE,ORANGE,HUDSON VALLEY,2014-2016,1396.0,15.5,1518.0,16.9,2914.0,32.5,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
50,43,ONTARIO,ONTARIO,FINGER LAKES,2012-2014,482.0,15.8,411.0,13.5,893.0,29.3,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
51,52,SARATOGA,SARATOGA,NORTHEASTERN NEW YORK,2014-2016,903.0,14.9,721.0,11.9,1624.0,26.9,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
53,56,SENECA,SENECA,FINGER LAKES,2014-2016,129.0,15.4,168.0,20.1,297.0,35.5,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
57,17,FULTON,FULTON,NORTHEASTERN NEW YORK,2010-2012,159.0,14.4,186.0,16.9,345.0,31.3,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
61,68,YATES,YATES,FINGER LAKES,2016-2018,92.0,17.6,101.0,19.3,193.0,37.0,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
62,1,ALBANY,ALBANY,NORTHEASTERN NEW YORK,2016-2018,1090.0,15.4,1099.0,15.5,2189.0,30.9,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
64,26,MONROE,MONROE,FINGER LAKES,2010-2012,2775.0,15.5,2936.0,16.4,5711.0,32.0,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
66,15,ESSEX,ESSEX,NORTHEASTERN NEW YORK,2010-2012,108.0,15.8,125.0,18.3,233.0,34.1,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
68,15,ESSEX,ESSEX,NORTHEASTERN NEW YORK,2014-2016,132.0,18.8,137.0,19.5,269.0,38.4,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
72,63,WARREN,WARREN,NORTHEASTERN NEW YORK,2014-2016,310.0,16.4,309.0,16.4,619.0,32.9,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
76,200000,NaN,FINGER LAKES,FINGER LAKES,2014-2016,4633.0,15.8,4574.0,15.6,9207.0,31.5,ELEMENTARY,REGION,NaN,NaN,NaN,NaN,NaN
79,20,HAMILTON,HAMILTON,NORTHEASTERN NEW YORK,2016-2018,NaN,NaN,7.0,15.2,NaN,NaN,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
83,3,BROOME,BROOME,NEW YORK - PENN,2012-2014,892.0,16.7,930.0,17.4,1822.0,34.2,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
84,25,MADISON,MADISON,CENTRAL NEW YORK,2012-2014,302.0,16.3,303.0,16.4,605.0,32.7,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
89,23,LEWIS,LEWIS,CENTRAL NEW YORK,2014-2016,180.0,17.2,206.0,19.7,386.0,36.9,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8845,67,WYOMING,WYOMING,WESTERN NEW YORK,2012-2014,126.0,15.8,134.0,16.8,260.0,32.5,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
8847,280201,NASSAU,HEMPSTEAD UNION FREE SCHOOL DISTRICT,NASSAU-SUFFOLK,2014-2016,424.0,20.9,614.0,30.3,1038.0,51.3,ELEMENTARY,SCHOOL DISTRICT,185 PENINSULA BLVD,HEMPSTEAD,NY,11550.0,"(40.7055, -73.6208)"
8855,120501,DELAWARE,DELAWARE ACADEMY CENTRAL SCHOOL DISTRICT AT DELHI,NORTHEASTERN NEW YORK,2016-2018,17.0,10.8,18.0,11.5,35.0,22.3,ELEMENTARY,SCHOOL DISTRICT,2 SHELDON DR,DELHI,NY,13753.0,"(42.2737, -74.916)"
8863,660101,WESTCHESTER,KATONAH-LEWISBORO UNION FREE SCHOOL DISTRICT,HUDSON VALLEY,2016-2018,67.0,12.5,45.0,8.4,112.0,21.0,ELEMENTARY,SCHOOL DISTRICT,1 SHADY LN,SOUTH SALEM,NY,10590.0,"(41.2382, -73.5231)"
8864,470901,OTSEGO,SCHENEVUS CENTRAL SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2016-2018,13.0,21.7,7.0,11.7,20.0,33.3,ELEMENTARY,SCHOOL DISTRICT,159 MAIN ST,SCHENEVUS,NY,12155.0,"(42.5496, -74.8184)"
8866,170500,FULTON,GLOVERSVILLE CITY SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2010-2012,77.0,17.0,81.0,17.9,158.0,35.0,ELEMENTARY,SCHOOL DISTRICT,234 LINCOLN ST,GLOVERSVILLE,NY,12078.0,"(43.0542, -74.3608)"
8869,120906,DELAWARE,HANCOCK CENTRAL SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2014-2016,9.0,14.2,13.0,20.6,22.0,34.9,ELEMENTARY,SCHOOL DISTRICT,67 EDUCATION LN,HANCOCK,NY,13783.0,"(41.9566, -75.2813)"
8870,30601,BROOME,SUSQUEHANNA VALLEY CENTRAL SCHOOL DISTRICT,NEW YORK - PENN,2012-2014,46.0,15.6,51.0,17.3,97.0,33.0,ELEMENTARY,SCHOOL DISTRICT,1040 CONKLIN RD,CONKLIN,NY,13748.0,"(42.0782, -75.8235)"
8871,512001,ST. LAWRENCE,MASSENA CENTRAL SCHOOL DISTRICT,CENTRAL NEW YORK,2016-2018,73.0,13.5,116.0,21.4,189.0,34.9,ELEMENTARY,SCHOOL DISTRICT,84 NIGHTENGALE AVE,MASSENA,NY,13662.0,"(44.9218, -74.898)"
8878,570302,STEUBEN,BATH CENTRAL SCHOOL DISTRICT,FINGER LAKES,2012-2014,71.0,21.2,30.0,9.0,101.0,30.1,ELEMENTARY,SCHOOL DISTRICT,25 ELLAS AVE,BATH,NY,14810.0,"(42.3385, -77.3227)"
8879,261701,MONROE,RUSH-HENRIETTA CENTRAL SCHOOL DISTRICT,FINGER LAKES,2016-2018,173.0,16.3,161.0,15.1,334.0,31.4,ELEMENTARY,SCHOOL DISTRICT,2034 LEHIGH STATION RD,HENRIETTA,NY,14467.0,"(43.0595, -77.596)"
8881,580211,SUFFOLK,MIDDLE COUNTRY CENTRAL SCHOOL DISTRICT,NASSAU-SUFFOLK,2016-2018,264.0,15.8,254.0,15.2,518.0,31.1,ELEMENTARY,SCHOOL DISTRICT,8 43RD ST-ADM OFF,CENTEREACH,NY,11720.0,"(40.8732, -73.091)"
8882,431301,ONTARIO,PHELPS-CLIFTON SPRINGS CENTRAL SCHOOL DISTRICT,FINGER LAKES,2010-2012,54.0,17.9,49.0,16.2,103.0,34.1,ELEMENTARY,SCHOOL DISTRICT,1490 RT 488,CLIFTON SPRINGS,NY,14432.0,"(42.961, -77.0964)"
8884,280403,NASSAU,ROSLYN UNION FREE SCHOOL DISTRICT,NASSAU-SUFFOLK,2012-2014,68.0,11.4,45.0,7.5,113.0,18.9,ELEMENTARY,SCHOOL DISTRICT,300 HARBOR HILL RD,ROSLYN,NY,11576.0,"(40.7944, -73.64)"
8885,662300,WESTCHESTER,YONKERS CITY SCHOOL DISTRICT,HUDSON VALLEY,2012-2014,394.0,11.5,741.0,21.6,1135.0,33.1,ELEMENTARY,SCHOOL DISTRICT,1 LARKIN CTR,YONKERS,NY,10701.0,"(40.9357, -73.9016)"
8886,411101,ONEIDA,CLINTON CENTRAL SCHOOL DISTRICT,CENTRAL NEW YORK,2016-2018,31.0,13.5,25.0,10.9,56.0,24.3,ELEMENTARY,SCHOOL DISTRICT,75 CHENANGO AVE,CLINTON,NY,13323.0,"(43.0493, -75.3818)"
8887,580601,SUFFOLK,SHOREHAM-WADING RIVER CENTRAL SCHOOL DISTRICT,NASSAU-SUFFOLK,2012-2014,53.0,12.1,60.0,13.7,113.0,25.9,ELEMENTARY,SCHOOL DISTRICT,250B RT 25A,SHOREHAM,NY,11786.0,"(40.9451, -72.8829)"
8888,50301,CAYUGA,WEEDSPORT CENTRAL SCHOOL DISTRICT,CENTRAL NEW YORK,2012-2014,25.0,14.9,27.0,16.1,52.0,31.0,ELEMENTARY,SCHOOL DISTRICT,2821 E BRUTUS ST,WEEDSPORT,NY,13166.0,"(43.0473, -76.5543)"
8891,52,SARATOGA,SARATOGA,NORTHEASTERN NEW YORK,2012-2014,888.0,15.5,795.0,13.9,1683.0,29.3,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
8893,48,PUTNAM,PUTNAM,HUDSON VALLEY,2016-2018,396.0,15.5,356.0,13.9,752.0,29.4,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
8895,580206,SUFFOLK,PORT JEFFERSON UNION FREE SCHOOL DISTRICT,NASSAU-SUFFOLK,2012-2014,12.0,7.6,16.0,10.2,28.0,17.8,ELEMENTARY,SCHOOL DISTRICT,550 SCRAGGY HILL RD,PORT JEFFERSON,NY,11777.0,"(40.944, -73.0528)"
8896,660202,WESTCHESTER,CROTON-HARMON UNION FREE SCHOOL DISTRICT,HUDSON VALLEY,2016-2018,45.0,13.0,37.0,10.7,82.0,23.7,ELEMENTARY,SCHOOL DISTRICT,10 GERSTEIN ST,CROTON ON HUDSON,NY,10520.0,"(41.2113, -73.8762)"
8903,41,ONEIDA,ONEIDA,CENTRAL NEW YORK,2012-2014,969.0,16.5,1132.0,19.3,2101.0,35.8,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN
8907,500301,ROCKLAND,SOUTH ORANGETOWN CENTRAL SCHOOL DISTRICT,HUDSON VALLEY,2014-2016,69.0,12.8,47.0,8.7,116.0,21.6,ELEMENTARY,SCHOOL DISTRICT,160 VAN WYCK RD,BLAUVELT,NY,10913.0,"(41.0617, -73.971)"
8911,200101,HAMILTON,PISECO COMMON SCHOOL,NORTHEASTERN NEW YORK,2014-2016,NaN,NaN,NaN,NaN,NaN,NaN,ELEMENTARY,SCHOOL DISTRICT,1722 RT 8,PISECO,NY,12139.0,"(43.4137, -74.525)"
8913,90501,CLINTON,NORTHEASTERN CLINTON CENTRAL SCHOOL DISTRICT,NORTHEASTERN NEW YORK,2012-2014,37.0,19.6,32.0,16.9,69.0,36.5,ELEMENTARY,SCHOOL DISTRICT,103 RT 276,CHAMPLAIN,NY,12919.0,"(44.9907, -73.4134)"
8914,490202,RENSSELAER,BRUNSWICK CENTRAL SCHOOL DISTRICT (BRITTONKILL),NORTHEASTERN NEW YORK,2012-2014,45.0,19.3,41.0,17.6,86.0,36.9,ELEMENTARY,SCHOOL DISTRICT,3992 NY RT 2,TROY,NY,12180.0,"(42.7503, -73.5713)"
8915,580102,SUFFOLK,WEST BABYLON UNION FREE SCHOOL DISTRICT,NASSAU-SUFFOLK,2014-2016,108.0,17.8,102.0,16.8,210.0,34.7,ELEMENTARY,SCHOOL DISTRICT,10 FARMINGDALE RD,WEST BABYLON,NY,11704.0,"(40.7044, -73.3456)"
8920,600101,TIOGA,WAVERLY CENTRAL SCHOOL DISTRICT,NEW YORK - PENN,2012-2014,42.0,20.3,29.0,14.0,71.0,34.3,ELEMENTARY,SCHOOL DISTRICT,15 FREDERICK ST,WAVERLY,NY,14892.0,"(42.0127, -76.5307)"
8921,500108,ROCKLAND,NANUET UNION FREE SCHOOL DISTRICT,HUDSON VALLEY,2012-2014,49.0,14.8,48.0,14.5,97.0,29.4,ELEMENTARY,SCHOOL DISTRICT,101 CHURCH ST,NANUET,NY,10954.0,"(41.0896, -74.0047)"

In [76]:
data['Number Obese'].mean()

275.78676207513416

In [77]:
data['Number Obese'].sum()

770824.0

In [78]:
data['Number Obese'].max()

49140.0

In [79]:
data['Number Obese'].min()

5.0

In [80]:
data['Number Obese'].std()

2021.1248151905831

In [87]:
#d[d['Grade Level'] == 'ELEMENTARY']
data2 = d[(d['Grade Level'] == 'ELEMENTARY') & (d['County']=='DELAWARE')]
data2['County'].count()

52

In [88]:
# Joins

In [92]:
grade_lookup = {'Grade Level': pd.Series(['ELEMENTARY', 'MIDDLE/HIGH', 'MISC']),  'Level': pd.Series([1, 2, 3])}
grade_lookup = pd.DataFrame(grade_lookup)
grade_lookup[['Grade Level']][0:5]

   Grade Level
0   ELEMENTARY
1  MIDDLE/HIGH
2         MISC

In [93]:
d_sub = d[0:5].join(grade_lookup.set_index(['Grade Level']),on=['Grade Level'], how='inner')
d_sub[['Grade Level', 'Level']]

   Grade Level  Level
0  MIDDLE/HIGH      2
4  MIDDLE/HIGH      2
2   ELEMENTARY      1

In [96]:
d_sub = d[0:5].join(grade_lookup.set_index(['Grade Level']),on=['Grade Level'], how='left')
d_sub[['Grade Level','Level']]

      Grade Level  Level
0     MIDDLE/HIGH    2.0
1  DISTRICT TOTAL    NaN
2      ELEMENTARY    1.0
3  DISTRICT TOTAL    NaN
4     MIDDLE/HIGH    2.0

In [97]:
d_sub = d[0:5].join(grade_lookup.set_index(['Grade Level']),on=['Grade Level'], how='outer')
d_sub[['Grade Level','Level']]

      Grade Level  Level
0     MIDDLE/HIGH    2.0
4     MIDDLE/HIGH    2.0
1  DISTRICT TOTAL    NaN
3  DISTRICT TOTAL    NaN
2      ELEMENTARY    1.0
4            MISC    3.0

In [98]:
d['Number Obese'].groupby(d['Grade Level']).sum()

Grade Level
DISTRICT TOTAL    1359576.0
ELEMENTARY         770824.0
MIDDLE/HIGH        577812.0
Name: Number Obese, dtype: float64

In [99]:
d['Number Obese'].groupby(d['Grade Level']).aggregate(sum)

Grade Level
DISTRICT TOTAL    1359576.0
ELEMENTARY         770824.0
MIDDLE/HIGH        577812.0
Name: Number Obese, dtype: float64

In [105]:
d['Number Obese'].groupby(d['Grade Level']).aggregate(sum, mean, std)

NameError: name 'mean' is not defined

In [ ]:
df = pd.DataFrame(np.random.randn(5,3), index=['a0','a10','a20','a30','a40'], columns=['X','Y','Z'])
df

In [ ]:
df = df.reindex(['a0','a1','a10','a11','a20','a21','a30','a31','a40','a41'])
df

In [ ]:
df.fillna(0)

In [ ]:
df.fillna(method='pad') #filtering with forward propagation

In [ ]:
df.fillna(df.mean())